html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html{
    width:100%;
}
body {
    line-height:1.5;
    font-family:Helvetica,Arial,sans-serif;
    background-color:#fff;
    font-size:14px;
    color:#1a1a1a;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
    border: 0 solid silver;
    width:325px;
    border-width: 1px 1px 1px 1px;
}
header{
    background-color:#de539a;
    text-align: center;
}

header h1{
    color:#fff;
    font-size:24px;
    line-height:2;
}
section{
    padding:35px;
    overflow:auto;
}
nav ul li{
    border: 0 solid silver;
    border-width: 1px 1px 1px 1px;
    padding:12px;
    font-weight:bold;
    font-size:18px;
    border-collapse:collapse;
    background-color:#ECECEC;
}
.main-nav{
    display:inline-block;
    float:left;
    transition: 0.5s;
}
.hotel-info-wrapper{
    position:relative;
    margin-left:34px;
    padding:22px;
    display:inline-block;
    float:left;
    border-bottom:1px solid #827f7f;
    min-width:50%;

}
.main-hotel-image{
    margin:10px;
    width:188px;
    height:150px;
    float:left;
}
.hotel-name-rating{
    float:left;
    margin: 8px 0 0 30px;

}
.hotel-name-rating h4{
 font-size:17px;
}
.hotel-cost{
    display:inline-block;
    position:absolute;
    bottom:32px;
    right:25px;
    
}
.hotel-cost h5{
    color:#de539a;
    font-size:26px;
    margin-bottom: -9px;
}
.hotel-cost span{
    color:#676767;
    font-size:13px;
}
@media only screen and (max-width:809px) {
    .hotel-info-wrapper{
        margin-left:0;
        float:inherit;
    }
}
@media only screen and (max-width:640px) {
    section{
        padding: 0px;
    }
    nav ul{
        width:100%;
        transition: 0.5s;
    }
    .main-nav{
        width:100%;
    }
    .hotel-info-wrapper{
        margin-left:0;
        border: none;
    }
    .hotel-name-rating{
        margin: 0 0 0 6px;
    }
    .main-hotel-image{
        margin:0px;
    }
}
@media only screen and (max-width:391px) {
    .hotel-info-wrapper{
        border: none;
    }
    .hotel-name-rating{
        margin-top:5px;
        float:none;
        transition: 0.5s;
    }
    .hotel-cost{
        position:initial;
        margin-left:23px;
        transition: 0.5s;
    }

}